html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  word-wrap: break-word; }

.btn {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  padding: 16px 42px 16px 52px; }

.container-main {
  width: 100%;
  background-image: url("../../assets/main-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .container-main .main-wrapper {
    padding: 3rem 3rem;
    max-width: 1140px;
    min-height: calc(725px - 6rem);
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .container-main .main-wrapper {
        align-items: center;
        justify-content: center; } }
    @media screen and (max-width: 576px) {
      .container-main .main-wrapper {
        min-height: 325px; } }
    .container-main .main-wrapper .main-content {
      width: 400px;
      height: fit-content;
      color: #ffffff;
      font-family: "Montserrat", sans-serif; }
      .container-main .main-wrapper .main-content h1 {
        font-weight: 700;
        font-size: 6rem; }
        @media screen and (max-width: 768px) {
          .container-main .main-wrapper .main-content h1 {
            font-size: 4.5rem; } }
      .container-main .main-wrapper .main-content h6 {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.2;
        margin-top: 1.125rem; }
      .container-main .main-wrapper .main-content p {
        font-family: "Open Sans", sans-serif;
        margin-top: 1.125rem; }
      .container-main .main-wrapper .main-content .btn {
        margin-top: 1.5rem;
        background-color: #ffffff;
        color: #6a4aa1;
        font-family: "PT Sans", sans-serif; }
        .container-main .main-wrapper .main-content .btn:hover {
          background-color: #af94de;
          color: #ffffff; }

.container-info {
  width: 100%; }
  .container-info .info-wrapper {
    margin: 0 auto;
    max-width: 1140px;
    padding: 3rem 1rem;
    font-family: "Open Sans", sans-serif;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    gap: 1rem; }
    @media screen and (max-width: 992px) {
      .container-info .info-wrapper {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        padding: 3rem; } }
    @media screen and (max-width: 576px) {
      .container-info .info-wrapper {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        padding: 3rem; } }
    .container-info .info-wrapper .info-content {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .container-info .info-wrapper .info-content h3 {
        font-size: 36px;
        line-height: 1.1;
        font-weight: 700; }
      .container-info .info-wrapper .info-content p {
        margin: 1.25rem 0;
        font-family: "Open Sans", sans-serif; }
      .container-info .info-wrapper .info-content .btn {
        width: fit-content;
        background-color: #292e33;
        color: #ffffff; }
        .container-info .info-wrapper .info-content .btn:hover {
          background-color: #4d4d4d; }
    .container-info .info-wrapper .card {
      border: 1px solid black;
      color: #ffffff;
      min-height: 325px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .container-info .info-wrapper .card img {
        width: 49px;
        height: 49px;
        margin: 0 auto; }
      .container-info .info-wrapper .card h3 {
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
        line-height: 1.2;
        font-weight: 700;
        text-align: center;
        margin: 1.5rem 0; }
      .container-info .info-wrapper .card p {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        margin: 0 2rem; }
    .container-info .info-wrapper .item-1 {
      background-color: #6a4aa1; }
    .container-info .info-wrapper .item-2 {
      background-color: #d01e55; }
    .container-info .info-wrapper .item-3 {
      background-color: #292e33; }

.container-contact {
  width: 100%;
  background-image: url("../../assets/email-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .container-contact .contact-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 3rem; }
    .container-contact .contact-wrapper .contact-content {
      margin: 4rem 0;
      width: 375px;
      display: flex;
      flex-direction: column; }
      @media screen and (max-width: 576px) {
        .container-contact .contact-wrapper .contact-content {
          width: 100%; } }
      .container-contact .contact-wrapper .contact-content h3 {
        font-size: 3.75rem;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 2rem; }
        @media screen and (max-width: 576px) {
          .container-contact .contact-wrapper .contact-content h3 {
            font-size: 2.5rem; } }
      .container-contact .contact-wrapper .contact-content input {
        border: 2px solid #ffffff;
        padding: 10px 12px;
        margin-bottom: .5rem; }
      .container-contact .contact-wrapper .contact-content .btn {
        padding: 10px;
        font-family: "Open Sans", sans-serif;
        color: #ffffff;
        background-color: #6a4aa1;
        letter-spacing: 1px;
        border-style: none;
        font-weight: 700;
        text-transform: uppercase; }
        .container-contact .contact-wrapper .contact-content .btn:hover {
          background-color: #000000; }

.container-tips {
  width: 100%;
  background-color: #6a4aa1; }
  .container-tips .tips-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 3rem;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 678px; }
    @media screen and (max-width: 992px) {
      .container-tips .tips-wrapper {
        padding: 1rem; } }
    .container-tips .tips-wrapper .tips-title {
      width: 100%;
      display: flex;
      justify-content: center; }
      @media screen and (max-width: 992px) {
        .container-tips .tips-wrapper .tips-title {
          margin: 2.5rem 0 3rem 0; } }
      .container-tips .tips-wrapper .tips-title h3 {
        text-align: center;
        font-weight: 700;
        font-size: 2.5rem;
        color: #ffffff; }
    .container-tips .tips-wrapper .tips-items {
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 3rem 1rem; }
      @media screen and (max-width: 992px) {
        .container-tips .tips-wrapper .tips-items {
          grid-template-columns: repeat(2, minmax(100px, 1fr));
          gap: 3rem 1rem;
          place-items: center; } }
      @media screen and (max-width: 576px) {
        .container-tips .tips-wrapper .tips-items {
          grid-template-columns: repeat(1, minmax(100px, 1fr));
          gap: 3rem;
          place-items: center; } }
      .container-tips .tips-wrapper .tips-items .tip-item {
        color: #ffffff;
        display: flex; }
        .container-tips .tips-wrapper .tips-items .tip-item .tip-img {
          flex: 2;
          display: flex;
          justify-content: center; }
          .container-tips .tips-wrapper .tips-items .tip-item .tip-img img {
            margin-top: 5px;
            width: 48px;
            height: 48px; }
        .container-tips .tips-wrapper .tips-items .tip-item .tip-content {
          flex: 7;
          display: flex;
          flex-direction: column; }
          .container-tips .tips-wrapper .tips-items .tip-item .tip-content h4 {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.2; }
          .container-tips .tips-wrapper .tips-items .tip-item .tip-content p {
            margin-top: 2rem;
            font-family: "Open Sans", sans-serif;
            font-style: italic; }

.container-info_tips {
  width: 100%; }
  .container-info_tips .info_tips-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 3rem 0;
    position: relative;
    display: flex; }
    @media screen and (max-width: 992px) {
      .container-info_tips .info_tips-wrapper {
        flex-direction: column; } }
    @media screen and (max-width: 576px) {
      .container-info_tips .info_tips-wrapper {
        padding: 3rem 1rem; } }
    .container-info_tips .info_tips-wrapper .info_tips-imgs {
      flex: 6;
      display: flex;
      position: relative;
      z-index: 10;
      justify-content: center;
      align-items: center; }
      .container-info_tips .info_tips-wrapper .info_tips-imgs img {
        margin: 5rem 0;
        width: 100%;
        height: 100%;
        max-width: 450px;
        max-height: 450px;
        object-position: 50% 50%;
        object-fit: cover;
        border-radius: 50%; }
        @media screen and (max-width: 992px) {
          .container-info_tips .info_tips-wrapper .info_tips-imgs img {
            margin: 2.5rem 0 4rem 0; } }
        @media screen and (max-width: 576px) {
          .container-info_tips .info_tips-wrapper .info_tips-imgs img {
            max-width: 350px;
            max-height: 350px; } }
      .container-info_tips .info_tips-wrapper .info_tips-imgs .circle-1 {
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 178px;
        height: 178px;
        border-radius: 50%;
        background-color: #af94de; }
        @media screen and (max-width: 992px) {
          .container-info_tips .info_tips-wrapper .info_tips-imgs .circle-1 {
            right: 2rem;
            left: initial; } }
        @media screen and (max-width: 768px) {
          .container-info_tips .info_tips-wrapper .info_tips-imgs .circle-1 {
            right: 0;
            width: 138px;
            height: 138px; } }
        @media screen and (max-width: 576px) {
          .container-info_tips .info_tips-wrapper .info_tips-imgs .circle-1 {
            right: 0;
            width: 78px;
            height: 78px; } }
      .container-info_tips .info_tips-wrapper .info_tips-imgs .circle-2 {
        display: block;
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #f36994; }
        @media screen and (max-width: 992px) {
          .container-info_tips .info_tips-wrapper .info_tips-imgs .circle-2 {
            left: 2rem; } }
        @media screen and (max-width: 576px) {
          .container-info_tips .info_tips-wrapper .info_tips-imgs .circle-2 {
            left: 0;
            width: 78px;
            height: 78px; } }
    .container-info_tips .info_tips-wrapper .info_tips-contents {
      margin: 3rem 0 0 0;
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .container-info_tips .info_tips-wrapper .info_tips-contents .info_tips-content {
        margin-top: 2rem;
        min-height: 272px;
        max-width: 450px;
        display: flex;
        flex-direction: column; }
        .container-info_tips .info_tips-wrapper .info_tips-contents .info_tips-content p {
          font-family: "Open Sans", sans-serif;
          color: #111111; }
        .container-info_tips .info_tips-wrapper .info_tips-contents .info_tips-content span {
          font-family: "Open Sans", sans-serif;
          color: #111111;
          margin-top: 22px; }
          .container-info_tips .info_tips-wrapper .info_tips-contents .info_tips-content span a {
            color: #111111; }
        .container-info_tips .info_tips-wrapper .info_tips-contents .info_tips-content .btn {
          width: fit-content;
          background-color: #6a4aa1;
          color: #ffffff;
          cursor: pointer;
          margin-top: 20px; }
          .container-info_tips .info_tips-wrapper .info_tips-contents .info_tips-content .btn:hover {
            background-color: #4d4d4d; }
      .container-info_tips .info_tips-wrapper .info_tips-contents .info_tips-title {
        max-width: 450px;
        display: flex;
        justify-content: center; }
        .container-info_tips .info_tips-wrapper .info_tips-contents .info_tips-title h3 {
          font-weight: 700;
          line-height: 1.1;
          font-size: 3rem;
          font-family: "Montserrat", sans-serif; }

.container-span_1 {
  width: 100%;
  background-color: #e5e5e5; }
  .container-span_1 .span_1-wrapper {
    overflow: hidden;
    max-width: 1140px;
    padding: 7rem 5rem;
    margin: 0 auto; }
    @media screen and (max-width: 992px) {
      .container-span_1 .span_1-wrapper {
        padding: 7rem 2rem; } }
    @media screen and (max-width: 420px) {
      .container-span_1 .span_1-wrapper {
        padding: 5rem 0; } }
    .container-span_1 .span_1-wrapper .span_1-content {
      background-color: #ffffff;
      display: flex;
      gap: 2rem; }
      @media screen and (max-width: 992px) {
        .container-span_1 .span_1-wrapper .span_1-content {
          gap: 0; } }
      @media screen and (max-width: 768px) {
        .container-span_1 .span_1-wrapper .span_1-content {
          flex-direction: column; } }
      .container-span_1 .span_1-wrapper .span_1-content .span_1-text {
        padding: 2rem 3rem;
        display: flex;
        flex-direction: column;
        flex: 4;
        color: #111111; }
        @media screen and (max-width: 992px) {
          .container-span_1 .span_1-wrapper .span_1-content .span_1-text {
            padding: 2rem;
            flex: 5; } }
        .container-span_1 .span_1-wrapper .span_1-content .span_1-text h3 {
          font-size: 2.25rem;
          font-weight: 700;
          line-height: 1.1; }
        .container-span_1 .span_1-wrapper .span_1-content .span_1-text p {
          font-family: "Open Sans", sans-serif;
          line-height: 1.8;
          margin: 2rem 0; }
        .container-span_1 .span_1-wrapper .span_1-content .span_1-text span {
          font-size: 1rem; }
          .container-span_1 .span_1-wrapper .span_1-content .span_1-text span a {
            color: #111111; }
        .container-span_1 .span_1-wrapper .span_1-content .span_1-text .btn {
          width: fit-content;
          background-color: #292e33;
          color: #ffffff;
          cursor: pointer;
          margin-top: 2rem; }
          .container-span_1 .span_1-wrapper .span_1-content .span_1-text .btn:hover {
            background-color: #4d4d4d; }
      .container-span_1 .span_1-wrapper .span_1-content .span_1-img {
        flex: 6;
        background-image: url("../../assets/question-2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: relative; }
        @media screen and (max-width: 992px) {
          .container-span_1 .span_1-wrapper .span_1-content .span_1-img {
            flex: 5; } }
        @media screen and (max-width: 768px) {
          .container-span_1 .span_1-wrapper .span_1-content .span_1-img {
            min-height: 400px; } }
        .container-span_1 .span_1-wrapper .span_1-content .span_1-img .circle-3 {
          display: block;
          width: 200px;
          height: 200px;
          background-color: #ffffff;
          border: 12px solid #e5e5e5;
          border-radius: 50%;
          position: absolute;
          bottom: -70px;
          right: -70px; }

.container-gallery {
  width: 100%; }
  .container-gallery .gallery-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 4rem 2rem; }
    .container-gallery .gallery-wrapper .gallery-title {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .container-gallery .gallery-wrapper .gallery-title h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 1.1;
        color: #6a4aa1;
        text-align: center; }
      .container-gallery .gallery-wrapper .gallery-title p {
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        text-align: center;
        margin-top: 1rem;
        color: #111111;
        margin-bottom: 3rem; }
    .container-gallery .gallery-wrapper .gallery-content {
      min-height: 670px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 26px; }
      @media screen and (max-width: 768px) {
        .container-gallery .gallery-wrapper .gallery-content {
          grid-template-columns: repeat(2, 1fr); } }
      @media screen and (max-width: 576px) {
        .container-gallery .gallery-wrapper .gallery-content {
          justify-content: center;
          grid-template-columns: repeat(1, minmax(200px, 350px)); } }
      .container-gallery .gallery-wrapper .gallery-content .img-item {
        object-fit: cover;
        object-position: 50% 50%; }
        .container-gallery .gallery-wrapper .gallery-content .img-item img {
          max-width: 100%;
          height: 100%; }

.container-span_2 {
  width: 100%;
  background-color: #e5e5e5; }
  .container-span_2 .span_2-wrapper {
    max-width: 1140px;
    padding: 3rem;
    margin: 0 auto;
    display: flex; }
    @media screen and (max-width: 992px) {
      .container-span_2 .span_2-wrapper {
        padding: 3rem 1rem; } }
    @media screen and (max-width: 768px) {
      .container-span_2 .span_2-wrapper {
        flex-direction: column;
        padding: 3rem; } }
    @media screen and (max-width: 576px) {
      .container-span_2 .span_2-wrapper {
        padding: 1rem; } }
    .container-span_2 .span_2-wrapper .span_2-content {
      flex: 5;
      min-height: 540px;
      padding: 2rem;
      display: flex;
      flex-direction: column; }
      .container-span_2 .span_2-wrapper .span_2-content h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 2.25rem;
        color: #111111;
        line-height: 1.1; }
      .container-span_2 .span_2-wrapper .span_2-content .line {
        width: 300px;
        height: 12px;
        background-color: #6a4aa1;
        margin: 2rem 0; }
      .container-span_2 .span_2-wrapper .span_2-content p {
        font-family: "Open Sans", sans-serif;
        text-align: justify;
        color: #111111; }
      .container-span_2 .span_2-wrapper .span_2-content .btn {
        margin-top: 2rem;
        width: fit-content;
        background-color: #6a4aa1;
        color: #ffffff;
        cursor: pointer; }
        .container-span_2 .span_2-wrapper .span_2-content .btn:hover {
          background-color: #4d4d4d; }
    .container-span_2 .span_2-wrapper .span_2-img {
      flex: 5;
      display: flex;
      flex-direction: column;
      padding: 3rem;
      background-color: #ffffff; }
      @media screen and (max-width: 420px) {
        .container-span_2 .span_2-wrapper .span_2-img {
          padding: 1rem; } }
      .container-span_2 .span_2-wrapper .span_2-img .img {
        background-image: url("../../assets/fitness.jpg");
        background-position: 50% 50%;
        background-size: cover;
        border: 1px solid black;
        height: 300px; }
      .container-span_2 .span_2-wrapper .span_2-img p {
        margin-top: 3rem;
        font-family: "Open Sans", sans-serif;
        color: #111111;
        line-height: 1.1;
        text-align: justify; }

.container-about {
  width: 100%; }
  .container-about .about-wrapper {
    max-width: 1140px;
    padding: 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 576px) {
      .container-about .about-wrapper {
        padding: 1rem; } }
    .container-about .about-wrapper .about-title h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 3rem;
      color: #6a4aa1;
      margin: 3rem 0 1rem 0;
      text-align: left; }
    .container-about .about-wrapper .about-content {
      background-color: #e5e5e5;
      display: flex; }
      @media screen and (max-width: 768px) {
        .container-about .about-wrapper .about-content {
          flex-direction: column; } }
      .container-about .about-wrapper .about-content .about-text {
        flex: 7;
        padding: 2rem; }
        .container-about .about-wrapper .about-content .about-text p {
          font-size: 1.25rem;
          line-height: 2; }
          @media screen and (max-width: 576px) {
            .container-about .about-wrapper .about-content .about-text p {
              line-height: 1.3; } }
        .container-about .about-wrapper .about-content .about-text .text-2 {
          margin-top: 2rem;
          font-weight: 700; }
      .container-about .about-wrapper .about-content .about-redes {
        flex: 3;
        background-color: #6a4aa1;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media screen and (max-width: 768px) {
          .container-about .about-wrapper .about-content .about-redes {
            padding: 2rem; } }
        .container-about .about-wrapper .about-content .about-redes img {
          width: 45px;
          height: 45px; }

.footer_container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000; }
  .footer_container h2 {
    font-family: "Montserrat", sans-serif;
    color: #6a4aa1;
    font-weight: 400;
    font-size: 18px; }
