html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // Inicializa algunas propiedades aquí
    }

  h1,h2,h3,h4,h5,h6,p {
    word-wrap: break-word;
  }

  .btn {
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    border-style: none;
    font-weight: 700;
    padding: 16px 42px 16px 52px;
  }
