// fonts
$font-family-1: 'Montserrat', sans-serif;
$font-family-2: 'Open Sans', sans-serif;
$font-family-3: 'PT Sans', sans-serif;

// text-color
$text-color-1: #ffffff;
$text-color-2: #6a4aa1;
$text-color-3: #111111;
$text-color-4: #292e33;

// background colors
$bg-color-1: #ffffff;
$bg-color-2: #6a4aa1;
$bg-color-3: #292e33;
$bg-color-4: #d01e55;
$bg-color-5: #af94de;
$bg-color-6: #f36994;
$bg-color-7: #4d4d4d;
$bg-color-8: #000000;

// breakpoints

$max-width: 1140px;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
