.container-about {
    width: 100%;

    .about-wrapper {
        max-width: $max-width;
        padding: 3rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: $sm) {
            padding: 1rem;
        }

        .about-title {
            h3 {
                font-family: $font-family-1;
                font-size: 3rem;
                color: $text-color-2;
                margin: 3rem 0 1rem 0;
                text-align: left;
            }
        }

        .about-content {
            background-color: $bg-color-9;
            display: flex;
            @media screen and (max-width: $md) {
                flex-direction: column;
            }

            .about-text {
                flex: 7;
                padding: 2rem;

                p {
                    font-size: 1.25rem;
                    line-height: 2;
                    @media screen and (max-width: $sm) {
                        line-height: 1.3;
                    }
                }

                .text-2 {
                    margin-top: 2rem;
                    font-weight: 700;
                }
            }

            .about-redes {
                flex: 3;
                background-color: $bg-color-2;
                display: flex;
                align-items: center;
                justify-content: center;

                @media screen and (max-width: $md) {
                    padding: 2rem;
                }
                img {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }
}