.footer_container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-8;

    h2 {
        font-family: $font-family-1;
        color: $text-color-2; 
        font-weight: 400;
        font-size: 18px;
    }
}