.container-info_tips {
    width: 100%;

    .info_tips-wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: 3rem;
        position: relative;

        .info_tips-imgs {
            display: flex;
            img {
                width: 100%;
                height: 100%;
                max-width: 550px;
                max-height: 550px;
                object-position: 50% 50%;
                object-fit: cover;
                border-radius: 50%;
            }

        }

        .circle-1 {
            display: block;
            position: absolute;
            top: 50%;
            right: 1rem;
            width: 228px;
            height: 228px;
            border-radius: 50%;
            background-color: $bg-color-5;
            align-self: flex-end;
        }

        .circle-2 {
            display: block;
            position: absolute;
            top: 1rem;
            left: 1rem;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: $bg-color-6;
            align-self: center;
        }

        .info_tips-content {
            position: absolute;
            right: 1rem;
            top: 2.5rem;
            width: 350px;
            min-height: 272px;
            display: flex;
            flex-direction: column;

            p {
                font-family: $font-family-2;
                color: $text-color-3;
            }

            span {
                font-family: $font-family-2;
                color: $text-color-3;
                margin-top: 22px;
                a {
                    color: $text-color-3;
                }
            }

            .btn {
                width: fit-content;
                background-color: $bg-color-2;
                color: $text-color-1;
                cursor: pointer;
                margin-top: 20px;
                &:hover {
                    background-color: $bg-color-7;
                }
            }
        }

        .info_tips-title {
            position: absolute;
            right: 0;
            bottom: 3rem;
            width: 450px;
            display: flex;
            justify-content: center;

            h3 {
                font-weight: 700;
                line-height: 1.1;
                font-size: 3rem;
                font-family: $font-family-1;
            }
        }
    }
}