.container-info_tips {
    width: 100%;

    .info_tips-wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: 3rem 0;
        position: relative;
        display: flex;
        @media screen and (max-width: $lg) {
            flex-direction: column;
        }
        @media screen and (max-width: $sm) {
            padding: 3rem 1rem;
        }

        .info_tips-imgs {
            flex: 6;
            display: flex;
            position: relative;
            z-index: 10;
            justify-content: center;
            align-items: center;

            img {
                margin: 5rem 0;
                width: 100%;
                height: 100%;
                max-width: 450px;
                max-height: 450px;
                object-position: 50% 50%;
                object-fit: cover;
                border-radius: 50%;
                @media screen and (max-width: $lg) {
                    margin: 2.5rem 0 4rem 0;
                }
                @media screen and (max-width: $sm) {
                    max-width: 350px;
                    max-height: 350px;
                }
            }

            .circle-1 {
                display: block;
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 178px;
                height: 178px;
                border-radius: 50%;
                background-color: $bg-color-5;
                @media screen and (max-width: $lg) {
                    right: 2rem;
                    left: initial;
                }

                @media screen and (max-width: $md) {
                    right:0;
                    width: 138px;
                    height: 138px;
                }

                @media screen and (max-width: $sm) {
                    right: 0;
                    width: 78px;
                    height: 78px;
                }
            }
    
            .circle-2 {
                display: block;
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: $bg-color-6;
                @media screen and (max-width: $lg) {
                    left: 2rem;
                }

                @media screen and (max-width: $sm) {
                    left: 0;
                    width: 78px;
                    height: 78px;
                }
            }
        }


        .info_tips-contents {
            margin: 3rem 0 0 0;
            flex: 4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .info_tips-content {
                margin-top: 2rem;
                min-height: 272px;
                max-width: 450px;
                display: flex;
                flex-direction: column;
    
                p {
                    font-family: $font-family-2;
                    color: $text-color-3;
                }
    
                span {
                    font-family: $font-family-2;
                    color: $text-color-3;
                    margin-top: 22px;
                    a {
                        color: $text-color-3;
                    }
                }
    
                .btn {
                    width: fit-content;
                    background-color: $bg-color-2;
                    color: $text-color-1;
                    cursor: pointer;
                    margin-top: 20px;
                    &:hover {
                        background-color: $bg-color-7;
                    }
                }
            }
    
            .info_tips-title {
                max-width: 450px;
                display: flex;
                justify-content: center;
    
                h3 {
                    font-weight: 700;
                    line-height: 1.1;
                    font-size: 3rem;
                    font-family: $font-family-1;
                }
            }
        }
    }
}