.container-span_2 {
    width: 100%;
    background-color: $bg-color-9;

    .span_2-wrapper {
        max-width: $max-width;
        padding: 3rem;
        margin: 0 auto;
        display: flex;
        @media screen and (max-width: $lg) {
            padding: 3rem 1rem;
        }

        @media screen and (max-width: $md) {
            flex-direction: column;
            padding: 3rem;
        }
        @media screen and (max-width: $sm) {
            padding: 1rem;
        }

        
        .span_2-content {
            flex: 5;
            min-height: 540px;
            padding: 2rem;
            display: flex;
            flex-direction: column;

            h3 {
                font-family: $font-family-1;
                font-weight: 700;
                font-size: 2.25rem;
                color: $text-color-3;
                line-height: 1.1;
            }

            .line {
                width: 300px;
                height: 12px;
                background-color: $bg-color-2;
                margin: 2rem 0;
            }

            p {
                font-family: $font-family-2;
                text-align: justify;
                color: $text-color-3;
            }

            .btn {
                margin-top: 2rem;
                width: fit-content;
                background-color: $bg-color-2;
                color: $text-color-1;
                cursor: pointer;

                &:hover {
                    background-color: $bg-color-7;
                }
            }
        }

        .span_2-img {
            flex: 5;
            display: flex;
            flex-direction: column;
            padding: 3rem;
            background-color: $bg-color-1;
            @media screen and (max-width: $xs) {
                padding: 1rem;
            }

            .img {
                background-image: url('../../assets/fitness.jpg');
                background-position: 50% 50%;
                background-size: cover;
                border: 1px solid black;
                height: 300px;

            }

            p {
                margin-top: 3rem;
                font-family: $font-family-2;
                color: $text-color-3;
                line-height: 1.1;
                text-align: justify;
            }
        }
    }
}