.container-span_1 {
    width: 100%;
    background-color: $bg-color-9;

    .span_1-wrapper {
        max-width: $max-width;
        padding: 7rem 5rem;
        margin: 0 auto;
        @media screen and (max-width: $lg) {
            padding: 7rem 2rem;
        }
        @media screen and (max-width: $xs) {
            padding: 5rem 0;
        }

        .span_1-content {
            background-color: $bg-color-1;
            display: flex;
            gap: 2rem;
            @media screen and (max-width: $lg) {
                gap: 0;
            }
            @media screen and (max-width: $md) {
                flex-direction: column;
            }

            .span_1-text {
                padding: 2rem 3rem;
                display: flex;
                flex-direction: column;
                flex: 4;
                color: $text-color-3;
                @media screen and (max-width: $lg) {
                    padding: 2rem;
                    flex: 5;
                }

                h3 {
                    font-size: 2.25rem;
                    font-weight: 700;
                    line-height: 1.1;
                }

                p {
                    font-family: $font-family-2;
                    line-height: 1.8;
                    margin: 2rem 0;
                }

                span {
                    font-size: 1rem;
                    a {
                        color: $text-color-3;
                    }
                }

                .btn {
                    width: fit-content;
                    background-color: $bg-color-3;
                    color: $text-color-1;
                    cursor: pointer;
                    margin-top: 2rem;
    
                    &:hover {
                        background-color: $bg-color-7;
                    }
                }
            }

            .span_1-img {
                flex: 6;
                background-image: url('../../assets/question-2.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                position: relative;
                @media screen and (max-width: $lg) {
                    flex: 5;
                }
                @media screen and (max-width: $md) {
                    min-height: 400px;
                }

                .circle-3 {
                    display: block;
                    width: 200px;
                    height: 200px;
                    background-color: $bg-color-1;
                    border: 12px solid $bg-color-9;
                    border-radius: 50%;
                    position: absolute;
                    bottom: -70px;
                    right: -70px;
                }
            }

        }
    }
}